.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login form {
    max-width: 390px;
    margin: 0 auto;
}
.login div {
    margin: 24px 0;
    width: 316px;
}

label {
    font-size: 14px;
    margin: 6px 0;
    line-height: 15px;
    font-weight: 700;
    color: #000000;
    display: block;
    text-transform: uppercase;
}

input {
    width: -webkit-fill-available;
    height: 42px;
    border: 1px solid #F0F1F7;
    border-radius: 8px;
    background: #FCFDFE;
    text-indent: 4px;
    font-size: 16px;
}

input:focus-visible {
    outline: none;
}

.login button {
    margin: 15px 0;
    width: -webkit-fill-available;
    height: 48px;
    background: #4185F8;
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-width: 0;
}

