* {
  margin: 0;
  font-family: 'Mulish'
}

#root {
  background: linear-gradient(180deg, #2D71F7 0%, rgba(45, 186, 247, 0) 100%);
  max-width: 100%;
  height: 100vh;
}

:root {
  --light-blue: #2D71F6;
  --blue: #4185F8;
}

.font-big {
  text-align: center;
  font-size: 28px;
  line-height: 35px;
  font-weight: 800;
}
.font-normal {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.font-error {
  text-align: left;
  font-size: 14px;
  color: red;
}
.logo {
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}
.navTitle {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.navTitle span {
  padding: 0 4px;
}
.wrapper {
  padding: 48px 24px 0;
}